img{
    height: 250px;

}
.df{
    display: flex;
    flex-wrap: wrap;
}
.center{
    text-align: center;
    color: white;
}
.textdeco{
    text-decoration: none;
}
.bgc{
    background-color: #bf181a;
    margin-top: 20px;
    border-radius: 5px;
}
body{
    background-color: #6d071a;
}
.btns{
    height: ;
}